.peoples-main,
.peoples-main * {
  box-sizing: border-box;
}
.peoples-main {
  background: #f04f29;
  height: 1750px;
  position: relative;
}
.title-bg {
  width: 1275px;
  height: 220px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 91px;
  overflow: visible;
  aspect-ratio: 1275/220;
}
._2026-peoples-all-rights-reserved {
  color: #000000;
  text-align: center;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1657px;
}
.thehouseicon-group {
  position: absolute;
  inset: 0;
}
 .houseicon-1 {
  width: 321px;
  height: 285px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - -418px);
  overflow: visible;
  aspect-ratio: 321/285;
}
 .the-house {
  color: #f7f3ef;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  font-family: "NotoSansKr-Black", sans-serif;
  font-size: 35px;
  font-weight: 900;
  position: absolute;
  right: 42.85%;
  left: 42.92%;
  width: 14.24%;
  bottom: 17.94%;
  top: 79.66%;
  height: 2.4%;
}